/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 1.5em;
  color: #333;
}

p {
  font-size: 1em;
  color: #777;
}

.cabecalho {
  width: 100%;
  float: left;
  padding: 50px 8%;
  background-color: #13c7ae;
}

.logo a {
  width: 221px;
  height: 48px;
  float: left;
  background: url(img/MicrosoftTeams-image.png) no-repeat;
  font-size: 0;
}

.cabecalho form {
  width: 30%;
  float: right;
}

.cabecalho form input[type="text"] {
  width: 85%;
  float: left;
  padding: 15px 10px 15px 10px;
  border-radius: 12px 0 0 12px;
}

.cabecalho button {
  width: 15%;
  float: right;
  padding: 15px 10px;
  background-color: #0cae98;
  color: #fff;
  cursor: pointer;
  border-radius: 0 12px 12px 0;
}

.menu {
  width: 100%;
  float: left;
  background-color: #111;
  padding: 18px 8%;
}

.menu li {
  float: left;
}

.menu li a {
  color: #9d9d9d;
  margin-right: 25px;
}

.menu li a:hover {
  color: #fff;
}

.social-icons {
  float: right;
}

.social-icons a {
  color: #fff;
  float: left;
  margin-left: 12px;
}

.btn-facebook:hover {
  color: #3b5998;
}

.btn-twitter:hover {
  color: #54a4d6;
}

.btn-google:hover {
  color: #d73d32;
}

.principal {
  width: 100%;
  float: left;
  padding: 20px 8%;
}
.sobre {
  width: 70%;
  float: left;
  padding: 0 20px 20px 0;
}
.sobre h2 {
  margin-bottom: 15px;
}
.sobre img {
  width: 50%;
  float: left;
  border-radius: 5px;
  margin: 0 15px 15px 0;
}
.sobre p {
  text-align: justify;
}

.onde-estamos {
  width: 30%;
  float: right;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
}
.onde-estamos h2 {
  margin-bottom: 5px;
}
.onde-estamos iframe {
  width: 100%;
  height: 250px;
  margin: 20px 0px;
}
.onde-estamos li {
  color: #777;
  margin-bottom: 10px;
}
.onde-estamos i {
  margin-right: 5px;
}

.newsletter {
  width: 100%;
  float: left;
  background-color: #111;
  padding: 50px 8%;
}
.newsletter h3 {
  font-size: 1.8em;
  color: #fff;

}
.newsletter p {
  font-size: 1.2em;
  color: #fff;
}
.newsletter form {
  width: 100%;
  float: left;
  margin-top: 10px;
}
.newsletter form input {
  width: 40%;
  margin-right: 1%;
  padding: 15px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  background-color: initial;
  float: left;
}
.newsletter button {
  width: 18%;
  margin-top: 6px;
  background-color: #0cae98;
  border: 1px solid #ffffff;
  padding: 15px 10px;
  border-radius: 5px;
  position: flex;
  cursor: pointer;
}
.rodape {
  width: 100%;
  float: left;
  background-color: #13c7ae;
  padding: 20px 8%;
}
.rodape p {
  color: #fff;
}

/* Formatação dos Produtos */

.titulo {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
  background-color: #0cae98;
  border-radius: 8px;
  color: #fff;
}

.conteudo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
  cursor: pointer;
}

.box {
  position: relative;
  background-color: #f5f5f5;
  box-shadow: #111;
}

.box:hover {
  padding: 10px;
  border-radius: 8px;
  transition: 0.4s;
  background-color: #0cae98;
}

.produto {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.titulo-produto {
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: uppercase;
  margin-bottom: 0.5rem;
}

.preco {
  font-weight: 500;
}

.container {
  padding: 20px 8%;
}

.btn2 {
  font-size: 1.2rem;
  font-weight: 550;
  text-decoration: uppercase;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  size: 15px;
  padding: 10px;
  background-color: #0cae98;
  position: center;
  cursor: pointer;
}


.box-button{
  position: relative;
}

.box img{
  border-radius: 8;
}

.btn3 {
  font-size: 1.2rem;
  font-weight: 550;
  text-decoration: uppercase;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  size: 15px;
  padding: 10px;
  background-color: #000000;
  position: center;
  cursor: pointer;
  color: #0cae98;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #0cae98; /* Gray border */
  border-radius: 8px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contain {
  border-radius: 5px;
  background-color: #e4e4e4;
  padding: 100px;
  
}

.center{
  text-align: center;
  cursor: pointer;
}


/* Justify content */



